name: AutoLabelPR
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
jobs:
  AutoLabelPR:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/labeler@v4
        with:
          repo-token: ${{ steps.generate_token.outputs.token }}
          dot: true
