name: Daily
on:
  schedule:
  - cron: 0 0 * * *
  workflow_dispatch:
jobs:
  Stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/stale@v8
        with:
          repo-token:  ${{ steps.generate_token.outputs.token }}
          days-before-stale: 7
          exempt-issue-labels: frozen
