# name: Generate xml sitemap

# on:
#   push:
#     branches: [ dev ]
# jobs:
#   UpdateVersion:
#     permissions:
#       contents: write
#     runs-on: ubuntu-latest
#     name: Generate a sitemap
#     steps:
#     - name: Checkout the repo
#       uses: actions/checkout@v2
#       with:
#         fetch-depth: 0
#     - name: Generate new sitemap
#       id: sitemap
#       uses: cicirello/generate-sitemap@v1.10.0
#       with:
#         additional-extensions: user.js
#         sitemap-format: xml
#         drop-html-extension: true
#         base-url-path: https://xmoj-bbs.tech/
#         exclude-paths: /404.html    
#     - name: Create PR to dev branch
#       uses: peter-evans/create-pull-request@v6
#       with:
#         # signoff: true
#         reviewers: PythonSmall-Q, zhouyiqing0304
#         assignees: PythonSmall-Q, zhouyiqing0304
#         title: "自动更新sitemap"
#         body: > 
#           Sitemap Updated! Please merge me!.

#     - name: Output stats
#       run: |
#         echo "sitemap-path = ${{ steps.sitemap.outputs.sitemap-path }}"
#         echo "url-count = ${{ steps.sitemap.outputs.url-count }}"
#         echo "excluded-count = ${{ steps.sitemap.outputs.excluded-count }}"
#     - name: Check outputs
#       if: ${{ steps.cpr.outputs.pull-request-number }}
#       run: |
#         echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
#         echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"    
