name: UpdateVersion
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - edited
    branches:
      - dev
jobs:
  UpdateVersion:
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository && !endsWith(github.actor, '[bot]')
    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/checkout@v6
      - name: Update version
        env:
          PR_BODY: ${{ github.event.pull_request.body }}
        run: node ./Update/UpdateVersion.js ${{ steps.generate_token.outputs.token }} ${{ github.event.number }} "${{ github.event.pull_request.title }}" "$PR_BODY" "${{ github.event.action }}"
